.toggle-menu {
    width: 35px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;   
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;

    div {
        width: 90%;
        height: 3px;
        border-radius: 10px;
        background-color: #0E1317;
        opacity: 80%;
    }

    &--big {
        height: 100%;
        padding: 15px 0;
    }

    &--shrink {
        height: 80%;
        padding: 2px 0;
    }

    @media(min-width: 500px) {
        display: none;
    }
}