.container-img {
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  height: 40px;
  transition: margin-left 1s;

  &__img {
    height: 100%;
  }

  @media (max-width: 500px) {
    margin-left: 25%;
  }
}
