.container-img {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  height: 40px;
  transition: margin-left 1s;

  &__img {
    height: 100%;
  }

  @media (max-width: 520px) {
    margin-left: 30%;
  }

  @media (max-width: 300px) {
    margin-left: 24%;
  }
}
