
.nav {
    @media (max-width: 499px) {
        display: none;
    }

    &.nav__items {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
    
        @media (min-width: 500px) {
            flex-flow: row;
        }

        &__item {
            margin: 1em;
            box-sizing: border-box;
            display: block;
            width: 100%;
            font-size: 12px;

            &:hover, :active {
                color: #40A4C8;
                text-decoration: underline;
                cursor: pointer;
            }

        }
    }
}

