$breakpoint_pixel: 40rem;

@mixin subtitle-style {
    h2 {
        font-size: 2em;
        text-transform: uppercase;
    }

    span {
        font-size: 1em;
    }
}

@mixin paragraph-style {
    p {
        font-size: 1em;
        display: block;
    }
}

.single-mural-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint_pixel) {
        grid-template-columns: 1fr 1fr 2fr;
    }
}

.mural-image {
    &__item {
        & img {
            margin-bottom: 0.8rem;
            max-width: 40rem;
            min-width: 24rem;
            width: 100%;

            @media (min-width: $breakpoint_pixel) {
                max-width: 100%;
                min-width: 18rem;
            }
        }
    }

    @media (min-width: $breakpoint_pixel) {
        display: grid;
        grid-column: span 2;
    }
}

.mural-text {
    height: 100%;
    color: #000000;
    font-size: 1rem;

    &__date {
        @include subtitle-style;
    }

    &__tags {
        @include subtitle-style;
    }

    &__main {
        h1 {
            text-transform: uppercase;
        }
        @include paragraph-style;
    }

    &__extra {
        h2 {
            font-size: 1em;
        }
        @include paragraph-style;
    }
}
