.about-container {
    display: grid;
    min-width: 25rem;
    height: 25rem;

    @media (min-width: 70rem) {
        grid-template-columns: 1.4fr 2fr;
    }
}

.about-info {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;

    @media (min-width: 70rem) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        justify-items: right;
        padding-right: 2rem;
    }
}

.about-description {
    &__title {
        color: #b7b7b7;
        margin-bottom: 0;

        @media (min-width: 70rem) {
            font-weight: 400;
            font-size: 3rem;
        }
    }

    &__subtitle {
        margin-top: 0;
        font-weight: 400;

        @media (min-width: 70rem) {
            font-size: 3rem;
        }
    }

    &__text {
        @media (min-width: 70rem) {
            font-size: 1.2rem;
        }
    }

    hr {
        border: 2px solid #000000;
        width: 2.2rem;
        margin-left: 0;
    }

    @media (min-width: 40rem) {
        margin: 2rem auto auto auto;
        width: 35rem;
    }

    @media (min-width: 70rem) {
        margin: 2rem auto auto auto;
        width: 40rem;
    }
}
