
.drawer-container {
    position: fixed;
    width: 230px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 20px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;

    @media (min-width: 499px) {
        display: none;
    }

    &--open {
        transform: translateX(0)
    }

    &--close {
        transform: translateX(-100%)
    }

    &__logo-container {
        margin-bottom: 30px;
    }
}